:root {
    --color1: #ffc107;
    --color2: #a717af;
}

header {
    margin-bottom: 30px;
    color: var(--color1);
}

title {
    color: var(--color2);
}

body{
    text-shadow: 0 0 black !important;
}
.pol_header {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

 th, td {
    border: 1px solid #ddd;
    padding: 2px 5px; /* Значение 32px примерно соответствует ширине табуляции */
    text-align: left;
}

th {
    color: var(--color1);
}
