{{define "login"}}
{{template "header" .}}
<main class="px-3">
    <form id="loginForm" action="/get_user" method="post" onsubmit="return validateForm()">
        <h1 class="h3 mb-3 fw-normal">Авторизуйтесь</h1>
        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com"><br>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-warning">Авторизоваться</button>
        <a class="btn btn-warning" href="/registration_form" class="button">Регистрация</a><br><br>
    </form>
</main>

<script>
    function validateForm() {
        const email = document.getElementById("email").value.trim();
        const password = document.getElementById("password").value.trim();
        
        if (email === "" || password === "") {
            alert("Пожалуйста, заполните все поля.");
            return false; // предотвращает отправку формы
        }
        
        return true; // форма отправляется, если все поля заполнены
    }
</script>
{{template "footer"}}
{{end}}