{{define "userForm"}}
{{template "header" .}}
<main class="px-3">
    {{if eq .IsAuthorized true}}
        <h1 class="cover-heading">ID пользователя: {{.Id}}</h1>
        <p class="lead">Имя: {{.Name}}</p>
        <p class="lead">Фамилия: {{.Surname}}</p>
        <p class="lead">Возраст: {{.Age}}</p>
        <p class="lead">Пол: {{.Sex}}</p>
        <p class="lead">Город: {{.City}}</p>
        <p class="lead">Увлечения: {{.Hobbies}}</p>
        <p class="lead">Почта: {{.Email}}</p>

        <p class="lead">
            <a href="/usersForms" class="btn btn-lg btn-secondary">Назад</a>
        </p>
    {{else}}
    <a class="btn btn-warning" href="/login" class="button">Для просмотра анкет необходио авторизоваться</a><br><br>
    {{end}}

</main>

{{template "footer"}}
{{end}}